.containerPattern{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6rem;
    color: #888888;
}

.card{
    width: 12.5rem;
    height: 9.37rem;
    border: solid 0.1rem;
}

.descricaoCard{
    width: 12.7rem;
}

.btnCard{
    background-color: white;
    color: #888888;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    border: 1px solid #707070;
    opacity: 1;
    width: 12.7rem;
    height: 1.8rem;
}