section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 5rem;
}

.infoSection{
    display: flex;
    flex-direction: column;
    width: 27rem;
    text-align: left;
    color: #888888;
    gap: 2rem;
    margin-bottom: 3.3rem;
}

.titleSection{
    width: 32rem;
    font-size: 20px;
}

.paragraphSection{
    width: 33rem;
    font-size: 12px;
}